body {
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: #f2f2f2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.hdrfmt{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #4a4dca;
  color: white;
}


.page-header h2{
  color:orange;
  font-weight: bold;
  margin : 0px;
}
.page-header h4{
  color:orange;
  font-weight: bold;
  margin : 20px 0 10px 0;
}

/* #### Sticky Footer css ### */
.footerStyle {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #302f2f;
  color:white;
}

.imgSpec{
  
  margin : 12px;
  padding: 3px;
  border-color:#f2f2f2;
  border-width: 1px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
 }

.imgTNSpec{
  /* margin : 10px 2px 10px 2px; */
  padding:0px;
}

.colStyle{
  background-color: white;
  margin: 8px;
  padding : 12px;
}

.figCaption{
  color: darkgray;
  font-size:9px;
  text-align: center;
  margin-bottom: 10px;
  
}
.siteTitle{
  font-size:48px;
  color:orange;
  font-variant-caps: small-caps; 
  font-weight: bold;
}
.siteGlyph{
  color: white;
  font-size:30px;
}

.navTxt{
  color : white;  
}
.navGlyph{
  color:white;
}

li.navLnk:hover{
  background-color : orange;
  color:black; 
  
}
img.imgLnkHover:hover{
  border-color : orange;
  border-width: 1px;
}

.img-thumbnail.activeImg{
  border-color: rgb(12, 156, 252);
  border-width: 1px;  
}

div.imagetiles div.col-xs-3.col-sm-3.col-md-6.imgTNSpec img{
  
  width:80%;
  text-align: center;
  vertical-align: middle;
}

